nav {
    text-align: center;
}
img{
    width: 300px;
    height: auto;
}

.button {
    background-color: #f9f9f9;
    border: 2px solid green;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
}
  
.button:hover {
    background-color: #8cbc54;
    border-color: #0033cc;
    cursor: pointer;
}
  
.button:active {
    background-color: #8cbc54;
    /* Cambiar el color del borde a un azul más claro */
    border-color: #b2d18f;
    /* Cambiar la posición del botón para dar un efecto de profundidad */
    transform: translateY(2px);
}

.container {
    margin: 20px;
    padding: 20px;
    background-color: #f8f4f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


