<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    
</head>
<body>
    
    <header>
        <h1>Welcome to</h1>
        <a href="#home"> <img src="assets/images/Smart-Green-Island-Makeathon.jpg" alt="Company Logo"></a>
        <h1>2024</h1>

    </header>

    <nav>
        <a href="#home">Home</a>
        <a href="#products">Products</a>
        <a href="#contact">Contact</a>
        <a href="#about">About Us</a>
        <a href="#login">Login / Create Account</a>
    </nav>

    <div class="container">
        <h2>Welcome to Makeathon 2024</h2>
        <p>
            Welcome to our website. Here, you can explore our products, get in touch with us, learn more about our company, and access your account.
        </p>
    </div>
</body>
</html>
