nav {
    text-align: center;
}
img{
    width: 300px;
    height: auto;
}
.container {
    margin: 20px;
    padding: 20px;
    background-color: #f8f4f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
