<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page </title>
  </head>
  <header>
      <div class="header-content">
          <h1>Welcome to Makeathon 2024</h1>
          <a href="#home"> <img src="assets/images/Smart-Green-Island-Makeathon.jpg" alt="Company Logo" > </a>
      </div>
  </header>
    <nav>
        <button class="button" href="#home">Home</button>
        <button class="button" href="#ImportList">Import List</button>
        <button class="button" href="#ExportList">Export List</button>
        <button class="button" href="#ViewMetrics">View Metrics</button>
        <button class="button" href="#AddParticipant">Add Participant</button>
    </nav>
    
</html>
 